<div id="background">
  <header class="cf">
  <div class="wrapper_wide">
    <a href="/earo/app/views//welcome/welcome/index.html.erb" id="logo">Earo</a>
    <nav>
      <ul>
        <% unless issue_signed_in? %>
        <li> <%= link_to "Items", issues_path %></l>
        <li><%= link_to "Sign In", new_issue_session_path %></li>
        <li><%= link_to "Post A Module", new_issue_registration_path %></li>
        <li><%= link_to "About", {:controller => 'static_pages', :action => 'about'} %></li>
        <% else %>
        <li>  <%= link_to "Items", issues_path %></li>
        <li><%= link_to "Sign out", destroy_issue_session_path, method: :delete %></li>
        <li><%= link_to "About", {:controller => 'static_pages', :action => 'about'} %></li>



        <% end %>
      </ul>
    </nav>
</div>
  </header>
  <div class="wrapper_skinny">
  <h1> Find any <b> module, filter, effect, or piece of hardware </b> or create your own.</h1>
  <%= link_to "Post a new Module", new_issue_registration_path, class: "button button_highlight" %>
  <%= link_to "Item Inventory", issues_path, class: "button button_white" %>

 </div>
</div>
