<div id="background">
  <header class="cf">
  <div class="wrapper_wide">
    <a href="index.html" id="logo">Earo</a>
    <nav>
      <ul>
        <% unless issue_signed_in? %>
        <li> <%= link_to "Inventory", issues_path %></l>
        <li><%= link_to "Sign In", new_issue_session_path %></li>
        <li><%= link_to "Post An Issue", new_issue_registration_path %></li>
        <li><%= link_to "About", {:controller => 'static_pages', :action => 'about'} %></li>
        <% else %>
        <li>  <%= link_to "Inventory", issues_path %></li>
        <li><%= link_to "Sign out", destroy_issue_session_path, method: :delete %></li>
        <li><%= link_to "About", {:controller => 'static_pages', :action => 'about'} %></li>



        <% end %>
      </ul>
    </nav>
</div>
  </header>
  <div class="wrapper_skinny">
  <h1> Discover your new favorite <b>"DIY"</b> project or create your own and share.</h1>
  <%= link_to "Post a new issue", new_issue_registration_path, class: "button button_highlight" %>
  <%= link_to "Inventory", issues_path, class: "button button_white" %>

 </div>
</div>
